<div class="blog_footer blog_toppadder60 blog_bottompadder30">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="blog_footer_div">
						<div class="widget weidget_aboutus">
						
							<p>Programming Forum Turkish İngilizce Karışık</p>
							<!--  <div class="blog_followus_div">
								<ul>
									<li>Follow Us -</li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>-->
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="blog_footer_div">
						<div class="widget widget_recent_post">
							<h3 class="widget-title">Recent News</h3>
							<ul>
								<li>
									<div class="blog_recent_post">
										<div class="blog_recent_post_img">
											<img src="https://via.placeholder.com/50x50" class="img-fluid" alt="">
										</div>
										<div class="blog_recent_post_content">
											<h4><a href="blog_single_with_sidebar.html">Does US Tax Overhaul Violate Global Trade.</a></h4>
											<p>Sep 21,2018 <a href="#">- Sports</a></p>
										</div>
									</div>
								</li>
								<li>
						
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="blog_footer_div">
						<div class="widget widget_recent_news">
							<h3 class="widget-title">Popular Post</h3>
							<ul>
								<li>
									<div class="blog_news">
										<div class="blog_news_title">
											<h4><a href="blog_single_with_sidebar.html">LA Marathon is long distance running from the stadium.</a></h4>
											<p>Sep 21,2018 <a href="#">- Sports</a></p>
										</div>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="blog_footer_div">
						<div class="widget widget_newsletter">
							<h3 class="widget-title">Subscribe</h3>
							<div class="blog_newsletter">
								<p>Enter Your Email To Get Notified About Our New  Solutions.</p>
								<form class="form-inline">
									<div class="blog_form_group">
										<input type="text" class="form-control" placeholder=" Email Here...">
									</div>
									<button type="button" class="blog_newsletter_btn"><svg xmlns="http://www.w3.org/2000/svg" width="17px" height="16px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M16.914,0.038 C16.838,-0.030 16.731,-0.046 16.639,-0.002 L0.147,7.802 C0.058,7.844 0.001,7.934 0.000,8.034 C-0.001,8.134 0.054,8.225 0.142,8.269 L4.810,10.602 C4.895,10.645 4.997,10.635 5.074,10.577 L9.611,7.123 L6.049,10.855 C5.998,10.908 5.972,10.981 5.978,11.055 L6.333,15.760 C6.340,15.864 6.409,15.953 6.507,15.986 C6.533,15.994 6.560,15.999 6.586,15.999 C6.659,15.999 6.729,15.967 6.778,15.909 L9.256,12.986 L12.318,14.476 C12.384,14.508 12.461,14.509 12.529,14.480 C12.597,14.449 12.648,14.391 12.670,14.320 L16.989,0.310 C17.019,0.212 16.990,0.105 16.914,0.038 Z"/></svg></button>
								</form>
							</div>
		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blog_copyright_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<p>Copyright &copy; 2020 <a href="index.html">Designer</a>. All Right Reserved.</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<ul class="blog_footer_menu">
						<li><a href="about.html">About</a></li>
						<li><a href="contactus.html">Contact</a></li>
						<li><a href="terms_condition.html">Terms Of Services</a></li>
						<li><a href="privacy_policy.html">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Main js file Style-->{% load static %}
<script src ="{% static 'js/jquery.js' %}">  </script>
<script src="{% static 'js/bootstrap.min.js' %}  "></script>
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
<script src="{% static 'js/plugins/swiper/swiper.min.js' %}"></script>
<script src="{% static 'js/plugins/magnific/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %} "></script>
<script src="{% static 'js/custom.js' %}" ></script>
<!--Main js file Style-->
</body>
</html>